USE [master]
GO
/****** Object:  Database [travelbeee]    Script Date: 12/20/2023 6:17:09 PM ******/
CREATE DATABASE [travelbeee]

ALTER DATABASE [travelbeee] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [travelbeee].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [travelbeee]
GO
/****** Object:  User [truongadmin]    Script Date: 12/20/2023 6:17:09 PM ******/
CREATE USER [truongadmin] FOR LOGIN [truongadmin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[access]    Script Date: 12/20/2023 6:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[access](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[accessdate] [date] NULL,
	[accesscount] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[account]    Script Date: 12/20/2023 6:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](30) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[fullname] [nvarchar](50) NOT NULL,
	[password] [nvarchar](256) NOT NULL,
	[image] [varchar](max) NULL,
	[createdate] [datetime] NULL,
	[updatedate] [datetime2](6) NULL,
	[qrcode] [nvarchar](max) NULL,
	[providerID] [varchar](30) NOT NULL,
	[birthday] [date] NULL,
	[isactive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[authorities]    Script Date: 12/20/2023 6:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[authorities](
	[accountid] [bigint] NULL,
	[roleid] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comment]    Script Date: 12/20/2023 6:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comment](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[createdate] [datetime] NOT NULL,
	[img] [nvarchar](max) NULL,
	[isactive] [bit] NULL,
	[accountId] [bigint] NULL,
	[tourid] [bigint] NULL,
	[image] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[feedback]    Script Date: 12/20/2023 6:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[feedback](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NOT NULL,
	[createdate] [datetime] NULL,
	[images] [varchar](max) NULL,
	[content] [nvarchar](max) NULL,
	[accountid] [bigint] NULL,
	[isactive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hotel]    Script Date: 12/20/2023 6:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hotel](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](10) NOT NULL,
	[address] [nvarchar](512) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[createdate] [datetime] NULL,
	[updatedate] [datetime] NULL,
	[images] [varchar](max) NULL,
	[isactive] [bit] NULL,
	[accountid] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[likes]    Script Date: 12/20/2023 6:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[likes](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[createdate] [datetime] NULL,
	[accountid] [bigint] NULL,
	[tourid] [bigint] NULL,
	[isactive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[location]    Script Date: 12/20/2023 6:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[location](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](256) NOT NULL,
	[latitude] [float] NOT NULL,
	[longitude] [float] NOT NULL,
	[images] [varchar](max) NULL,
	[description] [nvarchar](max) NOT NULL,
	[address] [nvarchar](256) NOT NULL,
	[createdate] [datetime] NULL,
	[updatedate] [datetime] NULL,
	[isactive] [bit] NULL,
	[accountid] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 12/20/2023 6:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[qrcode] [nvarchar](max) NOT NULL,
	[voucher] [varchar](10) NULL,
	[status] [nvarchar](100) NOT NULL,
	[cccd] [varchar](255) NULL,
	[numberphone] [varchar](255) NULL,
	[email] [varchar](255) NULL,
	[price] [float] NOT NULL,
	[member] [int] NOT NULL,
	[createdate] [datetime] NULL,
	[accountId] [bigint] NULL,
	[plantourid] [bigint] NULL,
	[isactive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment]    Script Date: 12/20/2023 6:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](60) NULL,
	[createdate] [datetime] NULL,
	[typepayment] [nvarchar](30) NULL,
	[money] [float] NULL,
	[stk] [varchar](30) NULL,
	[ordersid] [bigint] NULL,
	[content] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[plantour]    Script Date: 12/20/2023 6:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[plantour](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[stardate] [datetime] NULL,
	[enddate] [datetime] NULL,
	[createdate] [datetime] NULL,
	[updatedate] [datetime] NULL,
	[tourid] [bigint] NULL,
	[accountid] [bigint] NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reportour]    Script Date: 12/20/2023 6:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reportour](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[star] [int] NOT NULL,
	[accountid] [bigint] NULL,
	[tourid] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 12/20/2023 6:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tour]    Script Date: 12/20/2023 6:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tour](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](256) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[price] [float] NULL,
	[views] [bigint] NULL,
	[images] [varchar](max) NULL,
	[isactive] [bit] NULL,
	[createdate] [datetime] NULL,
	[updatedate] [datetime] NULL,
	[accountId] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tourdetails]    Script Date: 12/20/2023 6:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tourdetails](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[locationid] [bigint] NULL,
	[hotelid] [bigint] NULL,
	[transportid] [bigint] NULL,
	[tourid] [bigint] NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transport]    Script Date: 12/20/2023 6:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transport](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](256) NOT NULL,
	[phone] [nvarchar](10) NOT NULL,
	[address] [nvarchar](256) NOT NULL,
	[images] [varchar](max) NULL,
	[description] [nvarchar](max) NOT NULL,
	[createdate] [datetime] NULL,
	[updatedate] [datetime] NULL,
	[isactive] [bit] NULL,
	[accountid] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[voucher]    Script Date: 12/20/2023 6:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[voucher](
	[id] [varchar](10) NOT NULL,
	[title] [nvarchar](256) NOT NULL,
	[discount] [float] NULL,
	[condition] [float] NULL,
	[quanity] [int] NULL,
	[image] [varchar](max) NULL,
	[createdate] [datetime] NULL,
	[updatedate] [datetime] NULL,
	[accountid] [bigint] NULL,
	[isactive] [bit] NULL,
	[enddate] [datetime2](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[access] ON 

INSERT [dbo].[access] ([id], [accessdate], [accesscount]) VALUES (1, CAST(N'2023-12-06' AS Date), 15)
INSERT [dbo].[access] ([id], [accessdate], [accesscount]) VALUES (2, CAST(N'2023-12-07' AS Date), 15)
INSERT [dbo].[access] ([id], [accessdate], [accesscount]) VALUES (3, CAST(N'2023-12-09' AS Date), 15)
SET IDENTITY_INSERT [dbo].[access] OFF
GO
SET IDENTITY_INSERT [dbo].[account] ON 

SET IDENTITY_INSERT [dbo].[account] OFF
GO
INSERT [dbo].[authorities] ([accountid], [roleid]) VALUES (1, 1)
INSERT [dbo].[authorities] ([accountid], [roleid]) VALUES (12, 2)
INSERT [dbo].[authorities] ([accountid], [roleid]) VALUES (13, 2)
GO
SET IDENTITY_INSERT [dbo].[comment] ON 

INSERT [dbo].[comment] ([id], [content], [createdate], [img], [isactive], [accountId], [tourid], [image]) VALUES (1, N'hjhgjhj', CAST(N'2023-12-20T14:16:27.567' AS DateTime), NULL, 1, 1, 1, N'N/a')
INSERT [dbo].[comment] ([id], [content], [createdate], [img], [isactive], [accountId], [tourid], [image]) VALUES (2, N'ăeetqwtawftg', CAST(N'2023-12-20T14:16:36.293' AS DateTime), NULL, 1, 1, 1, N'N/a')
INSERT [dbo].[comment] ([id], [content], [createdate], [img], [isactive], [accountId], [tourid], [image]) VALUES (3, N'Rất Ok', CAST(N'2023-12-20T14:16:48.033' AS DateTime), NULL, 1, 1, 8, N'N/a')
SET IDENTITY_INSERT [dbo].[comment] OFF
GO
SET IDENTITY_INSERT [dbo].[feedback] ON 

INSERT [dbo].[feedback] ([id], [title], [createdate], [images], [content], [accountid], [isactive]) VALUES (31, N'Hello', CAST(N'2023-12-19T11:33:26.190' AS DateTime), NULL, N'Trường báo ơi là trường báoooooo', 14, 1)
SET IDENTITY_INSERT [dbo].[feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[hotel] ON 

SET IDENTITY_INSERT [dbo].[hotel] OFF
GO
SET IDENTITY_INSERT [dbo].[likes] ON 

INSERT [dbo].[likes] ([id], [createdate], [accountid], [tourid], [isactive]) VALUES (3, CAST(N'2023-12-20T14:12:42.000' AS DateTime), 1, 1, 1)
INSERT [dbo].[likes] ([id], [createdate], [accountid], [tourid], [isactive]) VALUES (4, CAST(N'2023-12-20T14:12:47.453' AS DateTime), 1, 2, 1)
INSERT [dbo].[likes] ([id], [createdate], [accountid], [tourid], [isactive]) VALUES (5, CAST(N'2023-12-20T14:12:53.330' AS DateTime), 1, 3, 1)
SET IDENTITY_INSERT [dbo].[likes] OFF
GO
SET IDENTITY_INSERT [dbo].[location] ON 

SET IDENTITY_INSERT [dbo].[location] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[payment] ON 

INSERT [dbo].[payment] ([id], [name], [createdate], [typepayment], [money], [stk], [ordersid], [content]) VALUES (160, N'Nguyễn Văn Trường', CAST(N'2023-12-05T18:55:46.497' AS DateTime), N'ACB', 29000, N'N/A', 187, N'OUT')
INSERT [dbo].[payment] ([id], [name], [createdate], [typepayment], [money], [stk], [ordersid], [content]) VALUES (161, N'Nguyễn Văn Trường', CAST(N'2023-12-05T20:32:24.617' AS DateTime), N'ACB', 29000, N'N/A', 188, N'OUT')
INSERT [dbo].[payment] ([id], [name], [createdate], [typepayment], [money], [stk], [ordersid], [content]) VALUES (162, N'Nguyễn Văn Trường', CAST(N'2023-12-06T01:47:09.657' AS DateTime), N'ACB', 29000, N'N/A', 189, N'OUT')
SET IDENTITY_INSERT [dbo].[payment] OFF
GO
SET IDENTITY_INSERT [dbo].[plantour] ON 

SET IDENTITY_INSERT [dbo].[plantour] OFF
GO
SET IDENTITY_INSERT [dbo].[role] ON 

INSERT [dbo].[role] ([id], [name]) VALUES (1, N'ADMIN')
INSERT [dbo].[role] ([id], [name]) VALUES (3, N'STAFF')
INSERT [dbo].[role] ([id], [name]) VALUES (2, N'USER')
SET IDENTITY_INSERT [dbo].[role] OFF
GO
SET IDENTITY_INSERT [dbo].[tour] ON 

SET IDENTITY_INSERT [dbo].[tour] OFF
GO
SET IDENTITY_INSERT [dbo].[tourdetails] ON 

INSERT [dbo].[tourdetails] ([id], [locationid], [hotelid], [transportid], [tourid], [description]) VALUES (2, 2, 79, 1, 1, N'TP HCM')
INSERT [dbo].[tourdetails] ([id], [locationid], [hotelid], [transportid], [tourid], [description]) VALUES (3, 10, 41, 4, 1, N'Đà Nẵng')
INSERT [dbo].[tourdetails] ([id], [locationid], [hotelid], [transportid], [tourid], [description]) VALUES (4, 4, 75, 3, 1, N'Hà Nội')
SET IDENTITY_INSERT [dbo].[tourdetails] OFF
GO
SET IDENTITY_INSERT [dbo].[transport] ON 

SET IDENTITY_INSERT [dbo].[transport] OFF
GO
INSERT [dbo].[voucher] ([id], [title], [discount], [condition], [quanity], [image], [createdate], [updatedate], [accountid], [isactive], [enddate]) VALUES (N'ADMIN123', N'Dành Cho Admin', 99.9, 3, 100, N'https://s3.amazonaws.com/thumbnails.venngage.com/template/5456834b-ba95-41a9-85b2-4abd4d313c11.png', CAST(N'2023-12-13T00:00:00.000' AS DateTime), CAST(N'2023-12-13T17:46:49.780' AS DateTime), 1, 1, CAST(N'2023-12-29T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[voucher] ([id], [title], [discount], [condition], [quanity], [image], [createdate], [updatedate], [accountid], [isactive], [enddate]) VALUES (N'GH756DEG', N'Noel', 80, 0, 1000, N'https://s3.amazonaws.com/thumbnails.venngage.com/template/5456834b-ba95-41a9-85b2-4abd4d313c11.png', CAST(N'2023-12-07T00:00:00.000' AS DateTime), CAST(N'2023-12-07T01:07:23.887' AS DateTime), 1, 1, CAST(N'2023-12-31T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[voucher] ([id], [title], [discount], [condition], [quanity], [image], [createdate], [updatedate], [accountid], [isactive], [enddate]) VALUES (N'OLG7HTDG', N'Tết Travel Bee', 35, 10, 100, N'https://firebasestorage.googleapis.com/v0/b/travel-bee-e0b59.appspot.com/o/tet.jpg?alt=media&token=2f4a7fbc-4eb1-460f-b550-ae021de2357f', CAST(N'2023-11-22T07:00:00.000' AS DateTime), CAST(N'2023-11-22T00:09:52.230' AS DateTime), 1, 1, CAST(N'2023-12-30T07:00:00.0000000' AS DateTime2))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__account__AB6E61643B9B7543]    Script Date: 12/20/2023 6:17:10 PM ******/
ALTER TABLE [dbo].[account] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__account__F3DBC57276EE700E]    Script Date: 12/20/2023 6:17:10 PM ******/
ALTER TABLE [dbo].[account] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKigmh1otf9m20dj0fblcfismwt]    Script Date: 12/20/2023 6:17:10 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKigmh1otf9m20dj0fblcfismwt] ON [dbo].[account]
(
	[username] ASC,
	[email] ASC
)
WHERE ([username] IS NOT NULL AND [email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_epk9im9l9q67xmwi4hbed25do]    Script Date: 12/20/2023 6:17:10 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_epk9im9l9q67xmwi4hbed25do] ON [dbo].[role]
(
	[name] ASC
)
WHERE ([name] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[account] ADD  DEFAULT (getdate()) FOR [createdate]
GO
ALTER TABLE [dbo].[hotel] ADD  DEFAULT (getdate()) FOR [createdate]
GO
ALTER TABLE [dbo].[location] ADD  DEFAULT (getdate()) FOR [createdate]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (getdate()) FOR [createdate]
GO
ALTER TABLE [dbo].[plantour] ADD  DEFAULT (getdate()) FOR [createdate]
GO
ALTER TABLE [dbo].[tour] ADD  DEFAULT (getdate()) FOR [createdate]
GO
ALTER TABLE [dbo].[transport] ADD  DEFAULT (getdate()) FOR [createdate]
GO
ALTER TABLE [dbo].[voucher] ADD  DEFAULT (getdate()) FOR [createdate]
GO
ALTER TABLE [dbo].[authorities]  WITH CHECK ADD FOREIGN KEY([accountid])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[authorities]  WITH CHECK ADD FOREIGN KEY([roleid])
REFERENCES [dbo].[role] ([id])
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD FOREIGN KEY([accountId])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD FOREIGN KEY([tourid])
REFERENCES [dbo].[tour] ([id])
GO
ALTER TABLE [dbo].[feedback]  WITH CHECK ADD FOREIGN KEY([accountid])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[hotel]  WITH CHECK ADD FOREIGN KEY([accountid])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[likes]  WITH CHECK ADD FOREIGN KEY([accountid])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[likes]  WITH CHECK ADD FOREIGN KEY([tourid])
REFERENCES [dbo].[tour] ([id])
GO
ALTER TABLE [dbo].[location]  WITH CHECK ADD FOREIGN KEY([accountid])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([accountId])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([plantourid])
REFERENCES [dbo].[plantour] ([id])
GO
ALTER TABLE [dbo].[payment]  WITH CHECK ADD FOREIGN KEY([ordersid])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[plantour]  WITH CHECK ADD FOREIGN KEY([accountid])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[plantour]  WITH CHECK ADD FOREIGN KEY([tourid])
REFERENCES [dbo].[tour] ([id])
GO
ALTER TABLE [dbo].[reportour]  WITH CHECK ADD FOREIGN KEY([accountid])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[reportour]  WITH CHECK ADD FOREIGN KEY([tourid])
REFERENCES [dbo].[tour] ([id])
GO
ALTER TABLE [dbo].[tour]  WITH CHECK ADD FOREIGN KEY([accountId])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[tourdetails]  WITH CHECK ADD FOREIGN KEY([hotelid])
REFERENCES [dbo].[hotel] ([id])
GO
ALTER TABLE [dbo].[tourdetails]  WITH CHECK ADD FOREIGN KEY([locationid])
REFERENCES [dbo].[location] ([id])
GO
ALTER TABLE [dbo].[tourdetails]  WITH CHECK ADD FOREIGN KEY([tourid])
REFERENCES [dbo].[tour] ([id])
GO
ALTER TABLE [dbo].[tourdetails]  WITH CHECK ADD FOREIGN KEY([transportid])
REFERENCES [dbo].[transport] ([id])
GO
ALTER TABLE [dbo].[transport]  WITH CHECK ADD FOREIGN KEY([accountid])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[voucher]  WITH CHECK ADD FOREIGN KEY([accountid])
REFERENCES [dbo].[account] ([id])
GO
USE [master]
GO

select qrcode from orders